In [1]:
import pandas as pd

In [3]:
activity = pd.read_csv('COVID_19Activity.csv', parse_dates=[3])

C:\Users\Michael Meng\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (1) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [4]:
activity.shape

(2322354, 13)

In [5]:
activity.sample(10)

,PEOPLE_POSITIVE_CASES_COUNT,COUNTY_NAME,PROVINCE_STATE_NAME,REPORT_DATE,CONTINENT_NAME,DATA_SOURCE_NAME,PEOPLE_DEATH_NEW_COUNT,COUNTY_FIPS_NUMBER,COUNTRY_ALPHA_3_CODE,COUNTRY_SHORT_NAME,COUNTRY_ALPHA_2_CODE,PEOPLE_POSITIVE_NEW_CASES_COUNT,PEOPLE_DEATH_COUNT
1219140,214,Cimarron,Oklahoma,2021-05-29,America,New York Times,0,40025.0,USA,United States,US,0,2
1389681,1147,Ketchikan Gateway Borough,Alaska,2021-09-06,America,New York Times,0,2130.0,USA,United States,US,0,2
1639657,49,Glascock,Georgia,2020-10-13,America,New York Times,0,13125.0,USA,United States,US,0,2
1376114,1355,Walton,Georgia,2020-08-22,America,New York Times,-1,13297.0,USA,United States,US,8,43
1489123,79,Livingston,Louisiana,2020-04-06,America,New York Times,0,22063.0,USA,United States,US,12,1
815868,732,Marengo,Alabama,2020-10-01,America,New York Times,-1,1091.0,USA,United States,US,4,19
1983186,112,Simpson,Mississippi,2020-06-09,America,New York Times,0,28127.0,USA,United States,US,4,0
1199739,5971,Hardin,Texas,2021-06-12,America,New York Times,0,48199.0,USA,United States,US,1,113
1723457,1846,Carroll,Virginia,2021-01-18,America,New York Times,0,51035.0,USA,United States,US,11,44
34892,539,Kimball,Nebraska,2021-10-29,America,New York Times,0,31105.0,USA,United States,US,0,9

In [6]:
activity.columns

Index(['PEOPLE_POSITIVE_CASES_COUNT', 'COUNTY_NAME', 'PROVINCE_STATE_NAME',
       'REPORT_DATE', 'CONTINENT_NAME', 'DATA_SOURCE_NAME',
       'PEOPLE_DEATH_NEW_COUNT', 'COUNTY_FIPS_NUMBER', 'COUNTRY_ALPHA_3_CODE',
       'COUNTRY_SHORT_NAME', 'COUNTRY_ALPHA_2_CODE',
       'PEOPLE_POSITIVE_NEW_CASES_COUNT', 'PEOPLE_DEATH_COUNT'],
      dtype='object')

In [7]:
activity.dtypes

PEOPLE_POSITIVE_CASES_COUNT                 int64
COUNTY_NAME                                object
PROVINCE_STATE_NAME                        object
REPORT_DATE                        datetime64[ns]
CONTINENT_NAME                             object
DATA_SOURCE_NAME                           object
PEOPLE_DEATH_NEW_COUNT                      int64
COUNTY_FIPS_NUMBER                        float64
COUNTRY_ALPHA_3_CODE                       object
COUNTRY_SHORT_NAME                         object
COUNTRY_ALPHA_2_CODE                       object
PEOPLE_POSITIVE_NEW_CASES_COUNT             int64
PEOPLE_DEATH_COUNT                          int64
dtype: object

## 90% Data is about United States

In [8]:
activity['DATA_SOURCE_NAME'].value_counts()
# can delete the column

New York Times                2141850
JHU CSSE Global Timeseries     180504
Name: DATA_SOURCE_NAME, dtype: int64

In [42]:
activity[activity['COUNTRY_SHORT_NAME']=='United States'].count()  #about 90% data is about US

PEOPLE_POSITIVE_CASES_COUNT        2141850
COUNTY_NAME                        2141850
PROVINCE_STATE_NAME                2141850
REPORT_DATE                        2141850
CONTINENT_NAME                     2141850
PEOPLE_DEATH_NEW_COUNT             2141850
COUNTY_FIPS_NUMBER                 2104572
COUNTRY_ALPHA_3_CODE               2141850
COUNTRY_SHORT_NAME                 2141850
COUNTRY_ALPHA_2_CODE               2141850
PEOPLE_POSITIVE_NEW_CASES_COUNT    2141850
PEOPLE_DEATH_COUNT                 2141850
dtype: int64

In [9]:
activity['PROVINCE_STATE_NAME'].value_counts()  #may be only good for us if want to get county data

Texas                   166770
Georgia                 104640
Virginia                 87636
Kentucky                 79134
Missouri                 77172
                         ...
Ningxia                    654
Jiangxi                    654
District of Columbia       654
Western Australia          654
Alberta                    654
Name: PROVINCE_STATE_NAME, Length: 113, dtype: int64

In [38]:
activity.head()

,PEOPLE_POSITIVE_CASES_COUNT,COUNTY_NAME,PROVINCE_STATE_NAME,REPORT_DATE,CONTINENT_NAME,PEOPLE_DEATH_NEW_COUNT,COUNTY_FIPS_NUMBER,COUNTRY_ALPHA_3_CODE,COUNTRY_SHORT_NAME,COUNTRY_ALPHA_2_CODE,PEOPLE_POSITIVE_NEW_CASES_COUNT,PEOPLE_DEATH_COUNT
0,256,Moniteau,Missouri,2020-09-16,America,0,29135.0,USA,United States,US,5,4
1,258,Moniteau,Missouri,2020-09-17,America,0,29135.0,USA,United States,US,2,4
2,271,Moniteau,Missouri,2020-09-18,America,0,29135.0,USA,United States,US,13,4
3,275,Moniteau,Missouri,2020-09-19,America,0,29135.0,USA,United States,US,4,4
4,277,Moniteau,Missouri,2020-09-20,America,0,29135.0,USA,United States,US,2,4

## Not too much null value. And we decide to use live data, so transforming data here is useless.
## US data is very good.

In [39]:
activity.isnull().sum()
#country 2 code is om. 
# number about statistics is ok
# report date is ok

PEOPLE_POSITIVE_CASES_COUNT             0
COUNTY_NAME                        180504
PROVINCE_STATE_NAME                143226
REPORT_DATE                             0
CONTINENT_NAME                       5886
PEOPLE_DEATH_NEW_COUNT                  0
COUNTY_FIPS_NUMBER                 217782
COUNTRY_ALPHA_3_CODE                 5886
COUNTRY_SHORT_NAME                      0
COUNTRY_ALPHA_2_CODE                 6540
PEOPLE_POSITIVE_NEW_CASES_COUNT         0
PEOPLE_DEATH_COUNT                      0
dtype: int64

In [40]:
activity[activity['COUNTRY_SHORT_NAME']=='United States'].isnull().sum()
# COUNTY_NAME and state name have no null value in US

PEOPLE_POSITIVE_CASES_COUNT            0
COUNTY_NAME                            0
PROVINCE_STATE_NAME                    0
REPORT_DATE                            0
CONTINENT_NAME                         0
PEOPLE_DEATH_NEW_COUNT                 0
COUNTY_FIPS_NUMBER                 37278
COUNTRY_ALPHA_3_CODE                   0
COUNTRY_SHORT_NAME                     0
COUNTRY_ALPHA_2_CODE                   0
PEOPLE_POSITIVE_NEW_CASES_COUNT        0
PEOPLE_DEATH_COUNT                     0
dtype: int64

In [41]:
activity.describe().T

,count,mean,std,min,25%,50%,75%,max
PEOPLE_POSITIVE_CASES_COUNT,2322354.0,25607.619257,406278.891942,0.0,61.0,837.0,3560.0,34333754.0
PEOPLE_DEATH_NEW_COUNT,2322354.0,2.165552,38.833572,-11317.0,0.0,0.0,0.0,8786.0
COUNTY_FIPS_NUMBER,2104572.0,31471.971411,16365.327512,1001.0,19035.0,30026.0,46119.0,78030.0
PEOPLE_POSITIVE_NEW_CASES_COUNT,2322354.0,107.041157,2066.993290,-349116.0,0.0,1.0,11.0,823225.0
PEOPLE_DEATH_COUNT,2322354.0,577.620132,8644.999633,0.0,0.0,14.0,65.0,608671.0

## 1. PEOPLE_POSITIVE_NEW_CASES_COUNT : relationship PEOPLE_POSITIVE_CASES_COUNT

## 2. PEOPLE_DEATH_NEW_COUNT : relationship PEOPLE_DEATH_COUNT

## 3. Reason for calculating ratio between death and positive

## 4. And also reason for getting more data about population.

### for the whole world, province/states and county level data is not good.
### continent has null value
### country short name doesn't have null value, but country code has.

In [51]:
activity[activity['CONTINENT_NAME'].isnull()].sample(10)

,PEOPLE_POSITIVE_CASES_COUNT,COUNTY_NAME,PROVINCE_STATE_NAME,REPORT_DATE,CONTINENT_NAME,PEOPLE_DEATH_NEW_COUNT,COUNTY_FIPS_NUMBER,COUNTRY_ALPHA_3_CODE,COUNTRY_SHORT_NAME,COUNTRY_ALPHA_2_CODE,PEOPLE_POSITIVE_NEW_CASES_COUNT,PEOPLE_DEATH_COUNT
587795,0,NaN,NaN,2020-04-14,NaN,0,NaN,NaN,Cook Islands,NaN,0,0
699111,90,NaN,NaN,2021-03-10,NaN,0,NaN,NaN,Wallis and Futuna,NaN,16,0
680844,0,NaN,NaN,2020-03-30,NaN,0,NaN,NaN,Tonga,NaN,0,0
696774,4,NaN,NaN,2021-06-21,NaN,0,NaN,NaN,"Saint Helena, Ascension and Tristan da Cunha",NaN,0,0
588082,0,NaN,NaN,2021-01-26,NaN,0,NaN,NaN,Cook Islands,NaN,0,0
602153,0,NaN,NaN,2020-02-22,NaN,0,NaN,NaN,Palau,NaN,0,0
588290,1,NaN,NaN,2021-08-22,NaN,0,NaN,NaN,Cook Islands,NaN,0,0
698819,0,NaN,NaN,2020-05-22,NaN,0,NaN,NaN,Wallis and Futuna,NaN,0,0
687816,0,NaN,Unknown,2021-04-24,NaN,0,NaN,NaN,China,NaN,0,0
645915,0,NaN,NaN,2021-06-13,NaN,0,NaN,NaN,Summer Olympics 2020,NaN,0,0

In [48]:
activity[activity['PROVINCE_STATE_NAME'].isna()].sample(10)

,PEOPLE_POSITIVE_CASES_COUNT,COUNTY_NAME,PROVINCE_STATE_NAME,REPORT_DATE,CONTINENT_NAME,PEOPLE_DEATH_NEW_COUNT,COUNTY_FIPS_NUMBER,COUNTRY_ALPHA_3_CODE,COUNTRY_SHORT_NAME,COUNTRY_ALPHA_2_CODE,PEOPLE_POSITIVE_NEW_CASES_COUNT,PEOPLE_DEATH_COUNT
687305,2758,NaN,NaN,2021-09-13,America,0,NaN,TCA,Turks and Caicos Islands,TC,0,20
693419,254,NaN,NaN,2020-04-18,Africa,0,NaN,MYT,Mayotte,YT,9,4
720263,831,NaN,NaN,2020-06-11,Europe,0,NaN,GEO,Georgia,GE,4,13
681724,1285059,NaN,NaN,2021-02-06,Europe,136,NaN,UKR,Ukraine,UA,4558,24735
597553,154007,NaN,NaN,2021-01-06,Europe,34,NaN,LTU,Lithuania,LT,2787,2049
699259,454,NaN,NaN,2021-08-05,NaN,0,NaN,NaN,Wallis and Futuna,NaN,0,7
643411,11995,NaN,NaN,2021-09-29,Africa,0,NaN,SSD,South Sudan,SS,14,128
586690,841,NaN,NaN,2020-11-01,Europe,0,NaN,GBR,Channel Islands,GB,0,48
716036,128309,NaN,NaN,2021-05-21,Europe,4,NaN,EST,Estonia,EE,225,1239
753428,15,NaN,NaN,2020-05-04,Africa,0,NaN,BDI,Burundi,BI,0,1

In [52]:
activity[activity['CONTINENT_NAME'].isnull()].count()
# only 5886 records. may need deledte

PEOPLE_POSITIVE_CASES_COUNT        5886
COUNTY_NAME                           0
PROVINCE_STATE_NAME                 654
REPORT_DATE                        5886
CONTINENT_NAME                        0
PEOPLE_DEATH_NEW_COUNT             5886
COUNTY_FIPS_NUMBER                    0
COUNTRY_ALPHA_3_CODE                  0
COUNTRY_SHORT_NAME                 5886
COUNTRY_ALPHA_2_CODE                  0
PEOPLE_POSITIVE_NEW_CASES_COUNT    5886
PEOPLE_DEATH_COUNT                 5886
dtype: int64

In [53]:
activity['COUNTRY_SHORT_NAME'].nunique()
#country name accepted, but not good for geographic ploting. for example Summer Olympics 2020

223

In [56]:
activity=activity.dropna(subset=['CONTINENT_NAME'])

In [58]:
activity.shape

(2316468, 12)

##  Geography level focus on continent, country, state(US), and whole world, county also can be used.

In [60]:
activity.groupby('CONTINENT_NAME')['PEOPLE_POSITIVE_NEW_CASES_COUNT'].sum()

CONTINENT_NAME
Africa      8592785
America    94259463
Asia       78185771
Europe     67223599
Oceania      324506
Name: PEOPLE_POSITIVE_NEW_CASES_COUNT, dtype: int64

In [61]:
activity.groupby('COUNTRY_SHORT_NAME')['PEOPLE_POSITIVE_NEW_CASES_COUNT'].sum()

COUNTRY_SHORT_NAME
Afghanistan           156363
Albania               187363
Algeria               206878
Andorra                15618
Angola                 64583
                       ...
Vietnam               946043
West Bank and Gaza    454799
Yemen                   9831
Zambia                209815
Zimbabwe              133112
Name: PEOPLE_POSITIVE_NEW_CASES_COUNT, Length: 215, dtype: int64

In [62]:
activity[activity['COUNTRY_SHORT_NAME']=='United States'].groupby('PROVINCE_STATE_NAME')['PEOPLE_POSITIVE_NEW_CASES_COUNT'].sum()

PROVINCE_STATE_NAME
Alabama                      834582
Alaska                       140319
American Samoa                    1
Arizona                     1179072
Arkansas                     514967
California                  4951476
Colorado                     760541
Connecticut                  404649
Delaware                     145056
District of Columbia          64708
Florida                     3656010
Georgia                     1604539
Guam                          19476
Hawaii                        81960
Idaho                        295202
Illinois                    1715452
Indiana                     1031553
Iowa                         491463
Kansas                       439267
Kentucky                     755251
Louisiana                    761311
Maine                        106473
Maryland                     563927
Massachusetts                859713
Michigan                    1295049
Minnesota                    811778
Mississippi                  506042
Missouri                     876603
Montana                      179965
Nebraska                     288257
Nevada                       454319
New Hampshire                138511
New Jersey                  1203755
New Mexico                   281282
New York                    2575181
North Carolina              1489294
North Dakota                 150503
Northern Mariana Islands        312
Ohio                        1560695
Oklahoma                     647633
Oregon                       371001
Pennsylvania                1580346
Puerto Rico                  218770
Rhode Island                 180809
South Carolina               901314
South Dakota                 156564
Tennessee                   1256710
Texas                       4246805
Utah                         558845
Vermont                       41254
Virgin Islands                 7260
Virginia                     932173
Washington                   738602
West Virginia                275396
Wisconsin                    896589
Wyoming                      104940
Name: PEOPLE_POSITIVE_NEW_CASES_COUNT, dtype: int64

In [59]:
import seaborn as sns
import matplotlib.pyplot as plt

## time series: Quarter and Month are good for descriping trends among differect indicators.

In [67]:
month = activity.REPORT_DATE.dt.to_period("M")

In [71]:
month.value_counts()

2020-12    109802
2021-03    109802
2020-03    109802
2021-08    109802
2020-05    109802
2021-07    109802
2020-07    109802
2020-08    109802
2020-10    109802
2021-10    109802
2021-05    109802
2021-01    109802
2021-06    106260
2021-04    106260
2020-11    106260
2020-09    106260
2020-06    106260
2020-04    106260
2021-09    106260
2020-02    102718
2021-02     99176
2020-01     38962
2021-11     14168
Freq: M, Name: REPORT_DATE, dtype: int64

In [72]:
m_results = activity.groupby(month)

In [78]:
m_results['PEOPLE_POSITIVE_NEW_CASES_COUNT'].sum()

REPORT_DATE
2020-01        9926
2020-02       75436
2020-03      786404
2020-04     2404033
2020-05     2912114
2020-06     4280316
2020-07     7139985
2020-08     7918717
2020-09     8513059
2020-10    12145637
2020-11    17170218
2020-12    20139404
2021-01    19506929
2021-02    11152532
2021-03    14760060
2021-04    22501295
2021-05    19326529
2021-06    11436602
2021-07    15737562
2021-08    19909619
2021-09    15940857
2021-10    12908278
2021-11     1910612
Freq: M, Name: PEOPLE_POSITIVE_NEW_CASES_COUNT, dtype: int64

In [90]:
activity.groupby(by=[activity.REPORT_DATE.dt.to_period("M")]).sum()

,PEOPLE_POSITIVE_CASES_COUNT,PEOPLE_DEATH_NEW_COUNT,COUNTY_FIPS_NUMBER,PEOPLE_POSITIVE_NEW_CASES_COUNT,PEOPLE_DEATH_COUNT
REPORT_DATE,,,,,
2020-01,38539,213,1.114045e+09,9926,889
2020-02,1662328,2724,2.937027e+09,75436,46876
2020-03,9016704,40653,3.139581e+09,786404,394553
2020-04,63245704,194377,3.038304e+09,2404033,4320847
2020-05,145122741,149676,3.139581e+09,2912114,9880139
2020-06,246960189,148438,3.038304e+09,4280316,13901204
2020-07,432013182,175922,3.139581e+09,7139985,19293922
2020-08,672063597,183490,3.139581e+09,7918717,25077912
2020-09,895352899,168690,3.038304e+09,8513059,29546932
2020-10,1230633551,183524,3.139581e+09,12145637,35851309
2020-11,1648792759,274686,3.038304e+09,17170218,41486902
2020-12,2293570614,352356,3.139581e+09,20139404,52814392
2021-01,2915450882,416163,3.139581e+09,19506929,64499361
2021-02,3051968548,317008,2.835751e+09,11152532,69101875
2021-03,3755417093,301357,3.139581e+09,14760060,85525198
2021-04,4194368104,378722,3.038304e+09,22501295,92853673
2021-05,5035501266,379966,3.139581e+09,19326529,108233798
2021-06,5304232914,282951,3.038304e+09,11436602,114742797
2021-07,5881689702,269411,3.139581e+09,15737562,126603701
2021-08,6452336901,299492,3.139581e+09,19909619,135602601
2021-09,6796224552,263471,3.038304e+09,15940857,139842601
2021-10,7452819089,216262,3.139581e+09,12908278,151745711
2021-11,991292177,29619,4.051072e+08,1910612,20069733

In [92]:
activity.groupby(by=['CONTINENT_NAME', activity.REPORT_DATE.dt.to_period("M")])['PEOPLE_POSITIVE_NEW_CASES_COUNT'].sum()

CONTINENT_NAME  REPORT_DATE
Africa          2020-01             0
                2020-02             3
                2020-03          6117
                2020-04         33592
                2020-05        109009
                                ...
Oceania         2021-07         30899
                2021-08         58594
                2021-09         66792
                2021-10         86669
                2021-11          7484
Name: PEOPLE_POSITIVE_NEW_CASES_COUNT, Length: 115, dtype: int64

## Little EDA about cases table.  Can only get very limited information.

In [2]:
cases = pd.read_csv('COVID_19Cases.csv', parse_dates=[4,17])

C:\Users\Michael Meng\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (8) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [5]:
cases.shape

(950670, 18)

In [97]:
cases.dtypes

Case_Type                                       object
People_Total_Tested_Count                      float64
Cases                                            int64
Difference                                       int64
Date                                    datetime64[ns]
Combined_Key                                    object
Country_Region                                  object
Province_State                                  object
Admin2                                          object
iso2                                            object
iso3                                            object
FIPS                                           float64
Lat                                            float64
Long                                           float64
Population_Count                               float64
People_Hospitalized_Cumulative_Count           float64
Data_Source                                     object
Prep_Flow_Runtime                       datetime64[ns]
dtype: object

In [98]:
cases.Case_Type.value_counts()

Confirmed    475335
Deaths       475335
Name: Case_Type, dtype: int64

In [101]:
cases.describe().T

,count,mean,std,min,25%,50%,75%,max
People_Total_Tested_Count,6048.0,1.672996e+05,2.643341e+05,3.0000,29807.000000,77987.000000,189767.750000,2.293032e+06
Cases,950670.0,2.735187e+02,5.187498e+03,0.0000,0.000000,0.000000,4.000000,6.149410e+05
Difference,950670.0,7.388438e+00,1.664910e+02,-10034.0000,0.000000,0.000000,0.000000,3.327400e+04
FIPS,849690.0,3.033548e+04,1.519610e+04,60.0000,18169.000000,29171.000000,45079.000000,5.604500e+04
Lat,921780.0,3.711597e+01,9.763286e+00,-51.7963,34.068596,38.154335,41.772338,7.170690e+01
Long,921780.0,-8.344266e+01,3.862143e+01,-174.1596,-97.698949,-89.205569,-81.926357,1.780650e+02
Population_Count,921780.0,2.260264e+06,2.661885e+07,86.0000,12023.000000,29699.500000,97928.000000,1.380004e+09
People_Hospitalized_Cumulative_Count,6048.0,2.625715e+03,9.465118e+03,0.0000,0.000000,325.500000,1697.500000,8.999500e+04

In [103]:
cases.nunique()

Case_Type                                  2
People_Total_Tested_Count               2844
Cases                                   9985
Difference                              2136
Date                                     135
Combined_Key                            3521
Country_Region                           187
Province_State                           135
Admin2                                  1901
iso2                                     215
iso3                                     216
FIPS                                    3147
Lat                                     3406
Long                                    3407
Population_Count                        3360
People_Hospitalized_Cumulative_Count    1349
Data_Source                                1
Prep_Flow_Runtime                          1
dtype: int64

In [106]:
cases.groupby('Country_Region')['Cases'].sum().sort_values(ascending=False)

Country_Region
US                  77320973
Italy               15860457
Spain               15588817
United Kingdom      13312239
Brazil              12014992
                      ...
Seychelles               821
Holy See                 720
Papua New Guinea         431
Western Sahara           398
Lesotho                   41
Name: Cases, Length: 187, dtype: int64

In [8]:
cases[cases['Country_Region']=='United Kingdom'].sample(5)

,Case_Type,People_Total_Tested_Count,Cases,Difference,Date,Combined_Key,Country_Region,Province_State,Admin2,iso2,iso3,FIPS,Lat,Long,Population_Count,People_Hospitalized_Cumulative_Count,Data_Source,Prep_Flow_Runtime
16144,Confirmed,NaN,0,0,2020-02-19,"British Virgin Islands, United Kingdom",United Kingdom,British Virgin Islands,NaN,VG,VGB,NaN,18.4207,-64.6400,30237.0,NaN,2019 Novel Coronavirus COVID-19 (2019-nCoV) Da...,2020-06-04 23:15:39
10084,Confirmed,NaN,0,0,2020-01-25,"Channel Islands, United Kingdom",United Kingdom,Channel Islands,NaN,GB,GBR,NaN,49.3723,-2.3644,170499.0,NaN,2019 Novel Coronavirus COVID-19 (2019-nCoV) Da...,2020-06-04 23:15:39
33,Deaths,NaN,33998,384,2020-05-15,United Kingdom,United Kingdom,NaN,NaN,GB,GBR,NaN,55.3781,-3.4360,67886004.0,NaN,2019 Novel Coronavirus COVID-19 (2019-nCoV) Da...,2020-06-04 23:15:39
57768,Confirmed,NaN,0,0,2020-03-09,"Cayman Islands, United Kingdom",United Kingdom,Cayman Islands,NaN,KY,CYM,NaN,19.3133,-81.2546,65720.0,NaN,2019 Novel Coronavirus COVID-19 (2019-nCoV) Da...,2020-06-04 23:15:39
27543,Deaths,NaN,0,0,2020-02-26,"Cayman Islands, United Kingdom",United Kingdom,Cayman Islands,NaN,KY,CYM,NaN,19.3133,-81.2546,65720.0,NaN,2019 Novel Coronavirus COVID-19 (2019-nCoV) Da...,2020-06-04 23:15:39